</div><!-- 토글이 열리게 만드는것과 동시에 유저코드를 넘겨서 누가 글을 썼는지도 남기게 해야된다. -->
<a href="javascript:WritePost()" style="text-decoration:none">
	<div id="postroom-write" style="width:230px; height:40px; margin:10px; background-color:#0099dd;">
		<p style="color:#FFF; margin:0px; text-align:center;"><strong>Write Post</strong></p>
	</div>
</a>