<header id="postroom-header"><!-- 추가적인 개발이 필요한 것 : 유저 코드가 필요하다. -->
	<a href="#" style="background-color:transparent; color:#727272;"><i class="fa fa-home"></i></a>
	<i style="color:#727272;" class="fa fa-search"></i>
	<input type="text" style="border:none;" placeholder="user code search" onkeypress="if( event.keyCode==13 ){PostRoomSearch();}">
</header>
<div id="postroom-content">