<textarea class="post-editor" name="content" style="width:100%;"></textarea>
<a href="#" style="text-decoration:none"><!-- submit 버튼이 눌렸을 때, 유저 코드를 넘겨서 어느 유저의 포스팅 공간에 저장될 지 알린다. 누가 글을 썼는 지도 알린다. -->
	<div id="post-submit" style="width:230px; height:40px; margin:10px; background-color:#0099dd;">
		<p style="color:#FFF; margin:0px; text-align:center;"><strong>OK</strong></p>
	</div>
</a>