<header id="postroom-header">
	<a href="javascript:PostRoomSearch('mine')" style="background-color:transparent; color:#727272;"><i class="fa fa-home"></i></a>
	<i style="color:#727272;" class="fa fa-search"></i>
	<input id="postroom-searchbar" type="text" style="border:none;" placeholder="user nickname search" onkeypress="if( event.keyCode==13 ){PostRoomSearch('search');}">
</header>
<div id="postroom-content">