<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%=title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script>
			function isValidLength(str, l, r){ return (str.length >= l && str.length <= r); }
			function isNum(charCode){ return (charCode >= 48 && charCode <= 57); }
			function isEng(charCode){ return (charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122); }
			function isSpe(charCode){
				return (charCode >= 33 && charCode <= 47) || (charCode >= 58 && charCode <= 64) ||
					(charCode >= 91 && charCode <= 96) || (charCode >= 123 && charCode <= 126);
			}
			function isStrNumEngSpe(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch) && !isEng(ch) && !isSpe(ch))
						return false;
				}
				return true;
			}
			function isStrNumEng(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch) && !isEng(ch))
						return false;
				}
				return true;
			}

			function isStrNum(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch))
						return false;
				}
				return true;
			}
			$(function(){
				$("#btnjoin").click(function(){
					if ($("#id").val()==""){
						alert("아이디를 꼭 입력하세요");
						$("#id").focus();
						return;
					}
					if ($("#passwd").val()==""){
						alert("비밀번호를 꼭 입력하세요");
						$("#passwd").focus();
						return;
					}
					if ($("#passwd2").val()==""){
						alert("비밀번호확인란을 꼭 입력하세요");
						$("#passwd2").focus();
						return;
					}
					if($("#name").val()==""){
						alert("이름을 꼭 입력하세요");
						$("#name").focus();
						return;
					}
					if ($("#gender").val()==""){
						alert("성별을 꼭 입력하세요");
						$("#gender").focus();
						return;
					}
					if ($("#birth").val()==""){
						alert("생년월일을 꼭 입력하세요");
						$("#birth").focus();
						return;
					}
					if (isNaN($("#birth").val())){
						alert("생년월일을 숫자로만 입력하세요");
						$("#birth").val("");
						$("#birth").focus();
						return;
					}
					if ($("#passwd").val() !== $("#passwd2").val()){
						alert("비밀번호가 일치하지 않습니다.");
						$("#passwd").focus();
						return;
					}
					/*if ($("#email").val().indexOf('@') < 0){
						alert("형식에 맞지 않는 이메일입니다.");
						$("#email").focus();
						return;
					}*/
					if (($("#birth").val().charAt(0) != '1' && $("#birth").val().charAt(0) != '2') ||
						($("#birth").val().charAt(4) != '0' && $("#birth").val().charAt(4) != '1') ||
						($("#birth").val().charAt(6) < '0' || $("#birth").val().charAt(6) > '3') || 
						!isStrNum($("#birth").val()) || !isValidLength($("#birth").val(), 8,8)){
						alert("형식에 맞지 않는 생년월일입니다.");
						$("#birth").val("");
						$("#birth").focus();
						return;
					}

					if (!isStrNumEng($("#id").val()) || !isValidLength($("#id").val(), 7,15)){
						alert("형식에 맞지 않는 아이디입니다.");
						$("#id").val("");
						$("#id").focus();
						return;
					}

					if (!isStrNumEngSpe($("#passwd").val()) || !isValidLength($("#passwd").val(), 7, 15)){
						alert("형식에 맞지 않는 비밀번호입니다.");
						$("#passwd").val("");
						$("#passwd").focus();
						return;
					}

					$("#joinform").submit();
				});
				$("#btnAddTag").click(function(){
					//$("#tblTagList").append("<tr><td><input type='checkbox' name='chkDelTag'/><input type='text' size=30 maxlength=30 name='taglist'/><input type='button' value='확인' onclick='alert();'></td></tr>");
					$("#tblTagList").append("<tr><td><input type='checkbox' name='chkDelTag'/><select name='taglist'><option>abcde</option><option>ee</option></select><input type='button' value='확인' onclick='alert();'></td></tr>");
				});
				$("#btnDelTag").click(function(){
					var i = $("input[name=chkDelTag]:checked").each(function(){
						$(this).parent().remove();
					});
				});
			});
		</script>
	</head>
	<body>
		<h1><%=title %></h1>
		<form id="joinform" action="/account/signup" method="post">
			<table class="left" width="500" border="1">
				<tr>
					<th width="100">아이디</th>
					<td><input type="text" name="id" id="id" size="15" maxlength="15">(영대소문자 숫자 합쳐서 7~15글자)</td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td><input type="password" name="passwd" id="passwd" size="15" maxlength="15">(영대소문자 숫자 특수문자 합쳐서 7~15글자)</td>
				</tr>
				<tr>
					<th>비밀번호 확인</th>
					<td><input type="password" name="passwd2" id="passwd2" size="15" maxlength="15"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td><input type="text" name="name" id="name" size="10" maxlength="10">(최대 10글자)</td>
				</tr>
				<tr>
					<th>성별</th>
					<td>
						<input type="radio" name="gender" id="gender1" value="남" checked="checked">남
						<input type="radio" name="gender" id="gender2" value="여" checked="checked">여
					</td>
				</tr>
				<!--
				<tr>
					<th>국적</th>
					<td>
						<select name="country" id="country">
							<option value="대한민국">대한민국</option>
							<option value="미국">미국</option>
							<option value="일본">일본</option>
							<option value="중국">중국</option>
						</select>
					</td>
				</tr>
				-->
				<tr>
					<th>생년월일</th>
					<td><input type="text" name="birth" id="birth" size="8" maxlength="8">*YYYYMMDD</td>
				</tr>
				<tr>
					<th>취향 태그</th>
					<td>
						<table id="tblTagList">
							<tr>
								<td><input type="button" id="btnAddTag" value="태그 추가"><input type="button" id="btnDelTag" value="태그 삭제"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" id="btnjoin" value="가입">
						<input type="reset" value="취소">
					</td>
				</tr>
			</table>
		<!--	
<select>
  <optgroup label="Swedish Cars">
      <option value="volvo">Volvo</option>
	      <option value="saab">Saab</option>
		    </optgroup>
			  <optgroup label="German Cars">
			      <option value="mercedes">Mercedes</option>
				      <option value="audi">Audi</option>
					    </optgroup>
						</select>
						-->

		</form>
		<a href="/">홈페이지로 이동</a>
	</body>
</html>
