<div class="container-fluid" style="width:300px;">
			<div class="row">
				<!-- 화면 사이즈 작아지면 크기가 2/3 으로 줄어듬 -->
				<div class="col-sm-12 col-xs-8" style="background-color:rgba(0,0,0,0.7);">
					<div class="row">
						<div class="col-xs-10" style="height:40px;"><p style="margin-top:5px;"><strong>Chatting room list</strong></p></div>
						<div class="col-xs-2"><a href="javascript:main_chatting_exit()"><i class="fa fa-times fa-2x"></i></a></div>
					</div>
					<div class="row" style="height:240px; overflow:auto;">
						<div class="col-xs-8"><a><p id = "chatting-room-1">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-1">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-2">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-2">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-3">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-3">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-4">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-4">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-5">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-5">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-6">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-6">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-7">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-7">닉네임</p></div>
						<div class="col-xs-8"><a><p id = "chatting-room-8">채팅방 제목</p></a></div>
						<div class="col-xs-4"><p id = "chatting-id-8">닉네임</p></div>
					</div>
					<div class="row">
						<div class="col-xs-4"><a><i style="float:right; margin-top:5px;" class="fa fa-chevron-left"></i></a></div>
						<div class="col-xs-4"><p>3/7</p></div>
						<div class="col-xs-4"><a><i style="float:left; margin-top:5px;" class="fa fa-chevron-right"></i></a></div>
					</div>
					<div class="row">
						<div class="col-xs-8"><input type="text" style="height:20px; width:90%; font-size:13px; text-align:center; background-color:transparent; border-style:none;" placeholder="채팅방 명 입력"></div>
						<div class="col-xs-2"><a><i style="float:left; margin-top:5px;" class="fa fa-search"></i></a></div>
						<div class="col-xs-2"><a><i style="float:left; margin-top:5px;" class="fa fa-plus"></i></a></div>
					</div>
				</div>
			</div>
		</div>