<div class="container-fluid" style="width:300px;">
	<div class="row">
		<!-- 화면 사이즈 작아지면 크기가 2/3 으로 줄어듬 -->
		<div class="col-sm-12 col-xs-8" style="background-color:rgba(0,0,0,0.7);">
			<div class="row">
				<div class="col-xs-10" style="height:40px;"><p style="margin-top:5px;"><strong>Post list</strong></p></div>
				<div class="col-xs-2"><a href="javascript:main_post_exit()"><i class="fa fa-times fa-2x"></i></a></div>
			</div>
			<div class="row" style="height:240px; overflow:auto;">
				<div class="col-xs-8"><a><p id = "post-list-1">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-1">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-2">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-2">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-3">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-3">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-4">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-4">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-5">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-5">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-6">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-6">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-7">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-7">닉네임</p></div>
				<div class="col-xs-8"><a><p id = "post-list-8">게시글 제목</p></a></div>
				<div class="col-xs-4"><p id = "post-id-8">닉네임</p></div>
			</div>
			<div class="row">
				<div class="col-xs-4"><a><i style="float:right; margin-top:5px;" class="fa fa-chevron-left"></i></a></div>
				<div class="col-xs-4"><p>3/7</p></div>
				<div class="col-xs-4"><a><i style="float:left; margin-top:5px;" class="fa fa-chevron-right"></i></a></div>
			</div>
			<div class="row">
				<div class="col-xs-8"><input type="text" style="height:20px; width:90%; font-size:13px; text-align:center; background-color:transparent; border-style:none;" placeholder="게시글 제목 입력"></div>
				<div class="col-xs-2"><a><i style="float:left; margin-top:5px;" class="fa fa-search"></i></a></div>
				<div class="col-xs-2"><a><i style="float:left; margin-top:5px;" class="fa fa-pencil"></i></a></div>
			</div>
		</div>
	</div>
</div>