<div id = "signupPage" style = "background-color : white;">
		<table class="left" width="500" border="1">
			<tr>
				<th width="100">아이디</th>
				<td><input type="text" name="id" id="id" size="15" maxlength="15">(영대소문자 숫자 합쳐서 7~15글자)</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" name="passwd" id="passwd" size="15" maxlength="15">(영대소문자 숫자 특수문자 합쳐서 7~15글자)</td>
			</tr>
			<tr>
				<th>비밀번호 확인</th>
				<td><input type="password" name="passwd2" id="passwd2" size="15" maxlength="15"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="name" id="name" size="10" maxlength="10">(최대 10글자)</td>
			</tr>
			<tr>
				<th>성별</th>
				<td>
					<input type="radio" name="gender" id="gender1" value="남" checked="checked">남
					<input type="radio" name="gender" id="gender2" value="여" checked="checked">여
				</td>
			</tr>
			<tr>
				<th>생년월일</th>
				<td><input type="text" name="birth" id="birth" size="8" maxlength="8">*YYYYMMDD</td>
			</tr>
		</table>
		<input type = "button" id = "btnjoin" value = "확인"/>
	<script language = "javascript">
			function isValidLength(str, l, r){ return (str.length >= l && str.length <= r); }
			function isNum(charCode){ return (charCode >= 48 && charCode <= 57); }
			function isEng(charCode){ return (charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122); }
			function isSpe(charCode){
				return (charCode >= 33 && charCode <= 47) || (charCode >= 58 && charCode <= 64) ||
					(charCode >= 91 && charCode <= 96) || (charCode >= 123 && charCode <= 126);
			}
			function isStrNumEngSpe(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch) && !isEng(ch) && !isSpe(ch))
						return false;
				}
				return true;
			}
			function isStrNumEng(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch) && !isEng(ch))
						return false;
				}
				return true;
			}

			function isStrNum(str){
				var len = str.length;
				var ch;
				for (var i = 0; i < len; i++){
					ch = str.charCodeAt(i);
					if (!isNum(ch))
						return false;
				}
				return true;
			}

			$("#btnjoin").click(function(){
				if ($("#id").val()==""){
					alert("아이디를 꼭 입력하세요");
					$("#id").focus();
					return;
				}
				if ($("#passwd").val()==""){
					alert("비밀번호를 꼭 입력하세요");
					$("#passwd").focus();
					return;
				}
				if ($("#passwd2").val()==""){
					alert("비밀번호확인란을 꼭 입력하세요");
					$("#passwd2").focus();
					return;
				}
				if($("#name").val()==""){
					alert("이름을 꼭 입력하세요");
					$("#name").focus();
					return;
				}
				if ($("#gender").val()==""){
					alert("성별을 꼭 입력하세요");
					$("#gender").focus();
					return;
				}
				if ($("#birth").val()==""){
					alert("생년월일을 꼭 입력하세요");
					$("#birth").focus();
					return;
				}
				if (isNaN($("#birth").val())){
					alert("생년월일을 숫자로만 입력하세요");
					$("#birth").val("");
					$("#birth").focus();
					return;
				}
				if ($("#passwd").val() !== $("#passwd2").val()){
					alert("비밀번호가 일치하지 않습니다.");
					$("#passwd").focus();
					return;
				}
				if (($("#birth").val().charAt(0) != '1' && $("#birth").val().charAt(0) != '2') ||
					($("#birth").val().charAt(4) != '0' && $("#birth").val().charAt(4) != '1') ||
					($("#birth").val().charAt(6) < '0' || $("#birth").val().charAt(6) > '3') || 
					!isStrNum($("#birth").val()) || !isValidLength($("#birth").val(), 8,8)){
					alert("형식에 맞지 않는 생년월일입니다.");
					$("#birth").val("");
					$("#birth").focus();
					return;
				}
				if (!isStrNumEng($("#id").val()) || !isValidLength($("#id").val(), 7,15)){
					alert("형식에 맞지 않는 아이디입니다.");
					$("#id").val("");
					$("#id").focus();
					return;
				}
				if (!isStrNumEngSpe($("#passwd").val()) || !isValidLength($("#passwd").val(), 7, 15)){
					alert("형식에 맞지 않는 비밀번호입니다.");
					$("#passwd").val("");
					$("#passwd").focus();
					return;
				}
			});
		});
	</script>
</div>