<!DOCTYPE html>
<html>
<body>
    <h1><%= title%></h1>
    <form action="/members/write" method="post">
        <table>
            <table>
                <tr>
                    <th>작성자</th>
                    <td><input type="text" name="name" size="10" maxlength="10"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" size="50" maxlength="50"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea name="content" cols="50" rows="10"></textarea></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><input type="password" name="pw" size="12" maxlength="12"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="쓰기">
                        <input type="reset" value="취소">
                    </td>
                </tr>
            </table>
        </table>
    </form>
</body>
</html>