<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
	<p>로그인 하시려면 </p><a href="/members/login">여기 클릭</a>
	<p>회원가입하시려면 </p><a href="/members/join">여기 클릭</a>
  </body>
</html>
