<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <frameset frameborder="no" rows="100,*">
    <frame name="f_top" scrolling="no" src="/top" noresize>
    <frame name="f_body" src="/body" noresize>
  </frameset>
</html>
