<!DOCTYPE html>
<html>
  <head>
    <title>TripMaster</title>
    
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    
    <script language="javascript">
	  if (window.location == window.parent.location){
	  	//accessed directly by browser
	  	location.href = "http://52.68.212.122/"
	  }
      function initLogin(){
        //nil.style.visibility="hidden";
        //login.style.visibility="hidden";
        //logout.style.visibility="hidden";
      }
    /*  
      function onSession(){
        //nil.style.visibility="hidden";
        login.style.visibility="hidden";
        logout.style.visibility="visible";
      }
      
      function notSession(){
        //nil.style.visibility="hidden";
        login.style.visibility="visible";
        logout.style.visibility="hidden";
      }
    */
    </script>
  </head>
  <body onLoad()="initLogin()">
    <table><!-- top contents -->
      <tr>
        <td>&nbsp;</td>
        <td>
          <table>
            <tr>
              <td>
                <!--div id="nil" style="visibility:hidden;">
                  &nbsp;
                </div-->
                <% if (bUserLogin == false){ %>
                <div id="login"><!--style="visibility:hidden;"-->
                  <a href="members/login" target="f_body">Login</a>
                </div>
                <!--<% } else{ %>-->
                <div id="logout"><!--style="visibility:hidden;"-->
                  <a href="members/logout" target="f_body">Logout</a>
                </div>
                <!--<% } %>-->
              </td>
              <td><a href="members/join" target="f_body">Join</a></td>
            </tr>
          </table>
        </td>
        <!--td></td-->
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </table>
  </body>
	<!--body>
		<form action="/members/login" method="post">
				<table align="center">
					<tr>
						<td>ID</td>
						<td><input type="text" id="id" name="id" placeholder="아이디" size="12" maxlength="12"></td>
						<td>Password</td>
						<td><input type="password" id="passwd" placeholder="비밀번호" size="12" maxlength="12"></td>
						<td><input type="submit" value="로그인"</td>
						<td><a href="/members/join">회원가입</a></td>
					</tr>
				</table>
		</form>
	</body-->
</html>
