<!DOCTYPE html>
<html>
	<head>
		<title>TripMaster</title>

		<link rel='stylesheet' href="/stylesheets/style.css"/>

		<script language="javascript">

		</script>
	</head>
	<body>
		<form action="/members/login" method="post">
				<table align="center">
					<tr>
						<td>ID</td>
						<td><input type="text" id="id" name="id" placeholder="아이디" size="12" maxlength="12"></td>
						<td>Password</td>
						<td><input type="password" id="passwd" placeholder="비밀번호" size="12" maxlength="12"></td>
						<td><input type="submit" value="로그인"</td>
						<td><a href="/members/join">회원가입</a></td>
					</tr>
				</table>
		</form>
	</body>
</html>