body {
  background-color: blanchedalmond; /*ffebcd일걸? 아마도..*/
  font-family: "한컴 바겐세일 B";
  font-size: 14px;
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

td {
  text-align: center;
}

#statistics {
  text-align: right;
}

#entity_title {
  text-align: left;
}

.board_top_line, .board_bot_line {
  background-color: #999999;
  height: 3px;
}

.board_content_line {
  padding: 3px 20px 3px 20px;
}

.board_split_line {
  background-color: #CCCCCC;
  line-height: 1px;
}

a {
  color: #00B7FF;
}