body {
  background-color: lightgreen;
  font-family: "한컴 바겐세일 B";
  font-size: 14px;
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

td {
  text-align: center;
}

#statistics {
  text-align: right;
}

#entity_title {
  text-align: left;
}

a {
  color: #00B7FF;
}