<div id = "community_index">
	<a href="javascript:community_left()"><img id="community_index_left" src="/image/left button1.png"/></a>
	<input type="text" value="<%=current_pagenum%>" id="community_index_pagesearchbar">
	<p><b>/ </b><%=whole_pagenum%></p>
	<a href="javascript:community_right()"><img id="community_index_right" src = "/image/right button1.png"/></a>
	<a href="javascript:community_index_search()"><img id="community_index_search" src="/image/search button1.png"/></a>
</div>