<div id="community">
	<script>
		community_search(); // on_load
		//popdown();

		var socket = io();
		var current_pagenum = 0;
		var whole_pagenum = 0;
		
		function community_search(){
			socketConnect();
			
			var temp = $("#community_searchbar").value;
			
			socket.emit('CommunitySearch', temp);
		}

		function community_left(){
			if( current_pagenum > 1 ){
				socketConnect();
				socket.emit('CommunityPageChange', --current_pagenum);
			}
		}
		
		function community_right(){
			if (current_pagenum < whole_pagenum){
				socketConnect();
				
				socket.emit('CommunityPageChange', ++current_pagenum);
			}
		}
		
		function community_index_search(){
			var temp = $("community_index_pagesearchbar").value;
			
			if (isNumber(temp)){
				temp = parseInt(temp);
				
				if (1 <= temp || temp <= whole_pagenum){
					socketConnect();
					
					socket.emit('CommunityPageChange', temp);
				}
			}
		}

		function write_post(){
			alert("캡틴님, 스마트에디터를 만들어주세요!");
		}

		function open_post(n){
			popup({
				dir: '/contents/post.ejs',
				type: 'open_post',
				param: {n: n}
			});
		}

		socket.on('ReCommunitySearch', function(data){
			$("#community_body").html(data.html);	// data.html
			current_pagenum = data.current_pagenum;
			whole_pagenum = data.whole_pagenum;
		});
	</script>
	<div id="community_header">
	</div>
	<div id="community_body">
	</div>
	<div id="community_footer">
		<input id="community_searchbar" type="text"/>
		<a href="javascript:community_search()"><img src="/image/search button1.png"/></a>
		<a href="javascript:write_post()"><img src="/image/write button1.png"/></a>
	</div>
</div>














