<div id = "community_index">
	<a href="javascript:spotsearch_left()"><img id="spotsearch_index_left" src="/image/left button1.png"></img></a>
	<input type="text" value="<%=current_pagenum%>" id="spotsearch_index_pagesearchbar">
	<p><b>/ </b><%=whole_pagenum%></p>
	<a href="javascript:spotsearch_right()"><img id="spotsearch_index_right" src = "/image/right button1.png"></img></a>
	<a href="javascript:spotsearch_index_search()"><img id="spotsearch_index_search" src="/image/search button1.png"></img></a>
</div>