<div id="post_header">
	<div id="post_name"><%=name%></div>
	<div id="post_title"><%=title%></div>
	<div id="post_pdown"><a href="javascript:popdown()">닫기</a></div>
</div>
<div id="post">
	<div id="post_content">
		<p><%=content%></p>
	</div>
</div>