<div id = "spotsearch">
	<script>
		var current_pagenum = 0;
		var whole_pagenum = 0;
		
		
		
		function spotsearch_search(){
			socketConnect();
			var temp = $("#spotsearch_searchbar").value;
			socket.emit('SpotsearchSearch', temp);
		}
		
		function spotsearch_left(){
			if( current_pagenum > 1 ){
				socketConnect();
				socket.emit('SpotsearchPageChange', --current_pagenum);
			}
		}
		
		function spotsearch_right(){
			if( current_pagenum < whole_pagenum ){
				socketConnect();
				socket.emit('SpotsearchPageChange', ++current_pagenum);
			}
		}
		
		function spotsearch_index_search(){
			var temp = $("spotsearch_index_pagesearchbar").value;
			if(isNumber(temp)){
				temp = parseInt(temp);
				if( 1 <= temp || temp <= whole_pagenum ){
					socketConnect();
					socket.emit('SpotsearchPageChange', temp);
				}
			}
		}
		
		function spotsearch_add(spot_id){
			socketConnect();
			socket.on('StorageAdd', function(data){
				if(!data)
					alert('최대 100개까지만 저장할 수 있습니다.').
				socketDisconnect();
			});
			socket.emit('StorageAdd', {id : logined_id , kind : 'spot', object_id : spot_id});
		}
		
		//추가할 기능 function spotsearch_open(spot_id){
	</script>
	<div id = "spotsearch_header">
		<input id = "spotsearch_searchbar" type = "text" value = "여행지 검색">
		<a href = "javascript:spotsearch_search()"><img src = "/image/search button1.png"></img></a>
	</div>
	<div id = "spotsearch_body">
	</div>
</div>