<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
		  /*if (window.location == window.parent.location){
			//prevent from accessing directly by browser
			location.href = "http://52.68.212.122/"
		  }*/
		</script>
		<title>TripMaster</title>

		<link rel='stylesheet' href="/stylesheets/style.css"/>
	</head>
	<body>
		[body part]<br>
		Hello World!
		<!-- 추가 예정 -->
	</body>
</html>
