<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/resize.js"></script>
		<script type="text/javascript">
		  /*if (window.location == window.parent.location){
			//prevent from accessing directly by browser
			location.href = "http://52.68.212.122/"
		  }*/
		</script>
		<script language="javascript">
			var fd = 1; // center
		</script>
		<title>TripMaster</title>

		<link rel='stylesheet' href="/stylesheets/style.css"/>
	</head>
	<body bgcolor="magenta" onLoad="FrameResize()">
		<div id="show_div">
			<h2>Show Center!</h2>
			<p>Hello World!</p>
		</div>
		<div id="hidden_div" style="display:none">
			<a href="javascript:FrameResize()"><img src="/image/iu.jpg" width="25" height="33"/></a>
		</div>
	</body>
</html>
