<!DOCTYPE html>
<html>
  <head>
    <title>TripMaster</title>
    
    <script language="javascript">
	  /*if (window.location == window.parent.location){
	  	//prevent from accessing directly by browser
	  	location.href = "http://52.68.212.122/"
	  }*/
    </script>
  </head>
  <body bgColor="green">
  	[bottom part]<br>
  </body>
</html>
