<!DOCTYPE html>
<html>
	<head>
		<title>left</title>
		<script type="text/javascript" src="/js/resize.js"></script>
		<script language="javascript">
			var fd = 0; // left
		</script>
	</head>
	<body bgcolor="cyan">
		<div id="show_div" name="show_left" style="display:none">
			<h2>Show Left!</h2>
		</div>
		<div id="hidden_div">
			<a href="javascript:FrameResize()"><img src="/image/iu.jpg" width="25" height="33"/></a>
		</div>
	</body>
</html>
