<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tripmaster</title>

		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
		<script src = "/socket.io/socket.io.js"></script>
		
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHyZl0ohPiUgJ-F7QgtLMMJeib5KEMCMA">
		</script>
	
		<script type="text/javascript" src="/js/about_socket.js"></script>
		<script type="text/javascript">
			
			// about_socket.js 에서 사용하는 변수
			var socket = null;
			var socketCnt = 0;
			
			// tinymce editor 설정입니다. 무시해도 되요. custom_content.css 에서 tinymce 의 스타일을 지정할 수 있습니다.
			var post_editor_config = {
				mode : "exact",
				elements : "none",
				plugins: ["advlist autolink lists link image", "autoresize"],
				toolbar: "undo redo | link image | fontselect fontsizeselect | bold italic underline strikethrough | bullist numlist",
				menubar: false,
				content_css : "/css/custom_content.css"
			};
			
			// e 를 통해 어떤 id 의 textarea 에 tinymce 를 열것인지 받아오고, tinymce 를 엽니다.
			function initMCEexact(e){
				post_editor_config.elements = e;
				tinymce.init(post_editor_config);
			}
			
		</script>
		<script type="text/javascript" src="/js/index.js"></script>
		<script type="text/javascript" src="/js/profile.js"></script>
		<script type="text/javascript" src="/js/spot.js"></script>
	</head>
	<!-- ChangeTab 이 제대로 작동하기 위해선 slide 가 될 div 의 id 가 "slide숫자" 꼴이어야한다. -->
	<body>
	<section class="main-frame">
		<nav class="navbar" id="i_navbar">
			<div>
				<select id='i_spotkind'>
					<option value=''>여행지 종류 선택</option>
					<option value='음식점'>음식점</option>
					<option value='카페/커피전문점'>카페/커피전문점</option>
					<option value='베이커리/디저트'>베이커리/디저트</option>
					<option value='생활/편의'>생활/편의</option>
					<option value='병원/약국'>병원/약국</option>
					<option value='엔터테인먼트'>엔터테인먼트</option>
					<option value='편의점/슈퍼마켓'>편의점/슈퍼마켓</option>
					<option value='숙박'>숙박</option>
				</select>
				<br>
				<select id='i_rectag-weight'>
					<option value='0'>추천에 대한 태그의 영향?</option>
					<option value='0'>0</option>
					<option value='1'>1</option>
					<option value='2'>2</option>
					<option value='3'>3</option>
					<option value='4'>4</option>
					<option value='5'>5</option>
				</select>
			</div>
			<div>
				<textarea id="i_tag" style="width:100%;overflow:visible;resize:none;padding:0px;margin:0px;border-style:none;"placeholder = "입력"></textarea>
			</div>
			<div>
				<a href="javascript:RecommendSpot()">찾기</a>
				<a href="javascript:closeNav()">취소</a>
			</div>
		</nav>
		<div id="main-content">
			<div id="map-canvas"></div>
		</div>
		<p style="position:fixed; margin:0px; top:0px; left:0px;"><b>Tripmaster</b></p>
		
		<div id="spot-review" style="position:fixed; margin:0px; top:0px; left:0px; width:100%; height:100%; background-color:rgba(0,0,0,0.5);visibility:hidden;overflow-y:auto;">
			<div id="spot-review-frame">
				<div id="spot-review-list">
				</div>
				<div>
					<textarea id="spot-review-content"></textarea>
					<a href="javascript:spotreview_close()">
						<div>
							<p style="margin:0px;">닫기</p>
						</div>
					</a>
					<div>
						<select id='spot-review-score' style="width:100%">
							<option value='-1'>점수 안 줌</option>
							<option value='0'>0</option>
							<option value='1'>1</option>
							<option value='2'>2</option>
							<option value='3'>3</option>
							<option value='4'>4</option>
							<option value='5'>5</option>
						</select>
						<a href="javascript:spotreview_write()">
							<div style="width:100%; margin:7px 0px 0px 0px; background-color:white; border-style : solid; border-width : 1px; border-color : rgb(210,210,210); ">
								<p style="margin:0px;">글쓰기</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="spot-page" style="position:fixed; margin:0px; top:0px; left:0px; width:100%; height:100%; background-color:rgba(0,0,0,0.5); visibility:hidden;overflow-y:auto;">
			<div><!--메인 페이지-->
				<div><!--분류 프레임-->
					<div><!--세부 내용-->
						<p><b>기초 내용</b></p>
						<a id="basic-button" href="javascript:save('basic')" style="float:right;">[저장]</a>
					</div>
					<div id="basic-name-frame">
						<input type = 'text' name='spotname' id='spotname' maxlength='15' placeholder = '여행지명 입력란'/>
					</div>
					<div id="basic-kind-frame">
						<select id='spotkind'>
							<option value=''>여행지 종류 선택</option>
							<option value='음식점'>음식점</option>
							<option value='카페/커피전문점'>카페/커피전문점</option>
							<option value='베이커리/디저트'>베이커리/디저트</option>
							<option value='생활/편의'>생활/편의</option>
							<option value='병원/약국'>병원/약국</option>
							<option value='엔터테인먼트'>엔터테인먼트</option>
							<option value='편의점/슈퍼마켓'>편의점/슈퍼마켓</option>
							<option value='숙박'>숙박</option>
						</select>
					</div>
					<div id="profile">
						<form method='post' enctype='multipart/form-data'>
							<input type='hidden' name='openedSpotId' value='' id='profile-hidden-spot-id'/>
							<input type='file' name='file' onchange="CheckFileSize(this); CheckFileExt(this)"/>
							<input type='submit'/>
						</form>
					</div>
				</div>
				<div><!--분류 프레임-->
					<div><!--세부 내용-->
						<p><b>여행지 설명</b></p>
						<a id="description-button" href="javascript:save('description')" style="float:right;">[저장]</a>
					</div>
					<div id="description-frame">
						<textarea id='spot-desc'></textarea>
					</div>
				</div>
				<div><!--분류 프레임-->
					<div><!--세부 내용-->
						<p><b>Tip 및 주의사항</b></p>
						<a id="tip-button" href="javascript:save('tip')" style="float:right;">[저장]</a>
					</div>
					<div  id="tip-frame">
						<textarea id='spot-tip'></textarea>
					</div>
				</div>
				<div><!--분류 프레임-->
					<div><!--세부 내용-->
						<p><b>이것을 좋아하는 사람들에게 추천</b></p>
						<a id="tag-button" href="javascript:save('tag')" style="float:right;">[저장]</a>
					</div>
					<div id="tag-frame">
						<textarea id="spot-tag" style="width:100%;overflow:visible;resize:none;padding:0px;margin:0px;border-style:none;"placeholder = "입력"></textarea>
					</div>
				</div>
				<a href="javascript:spotpage_close()">
					<div>
						<p><b>닫기</b></p>
					</div>
				</a>
			</div>
		</div>
	</section>
	</body>
</html>
