<!doctype html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Tripmaster</title>
		<link href =  "/stylesheets/main.css" rel = "stylesheet" type = "text/css"/>
		<link href =  "/stylesheets/spotsearch.css" rel = "stylesheet" type = "text/css"/>
		<link href="/stylesheets/community.css" rel="stylesheet" type="text/css"/>
		<link href="/stylesheets/post.css" rel="stylesheet" type="text/css"/>
		<link href =  "/stylesheets/loginsignup.css" rel = "stylesheet" type = "text/css"/>
		<script src = "/socket.io/socket.io.js"></script>
		<script src = "/js/jquery-2.1.4.min.js"></script>
		<script language = "javascript">
			var socket = null;
			var socketCnt = 0;
			var popup_shown = false;
			
			function socketConnect(){
				socketCnt++;
				//alert('connect => ' + socketCnt);
				if (socketCnt == 1){
					if (socket){
						console.log("커넥트 했어양!")
						socket.connect();
					}
					else{
						socket = io();
						socketInit();
					}
				}
			}

			function socketDisconnect(){
				socketCnt--;
				//alert('disconnect => ' + socketCnt);
				if (!socketCnt)
					socket.disconnect();
			}

			function socketBind(page, target){
				(function(pg, tg){
					socket.on(pg, function(html){
						//socket.removeListener(page, arguments.callee);
						$(tg).html(html);
						socketDisconnect();
					});
				})(page, target);
			}

			function socketInit(){
				socketBind('Popup', "#popup");
				socketBind('Contents', "#contents");
				socketBind('Sidebar', "#userbar");
				
				socket.on('ReSpotsearchSearch', function (data){
					$("#spotsearch_body").html(data.html);				//html 받아옴.
					current_pagenum = data.current_pagenum;		//현재 보는 페이지 받아옴.
					whole_pagenum = data.whole_pagenum;			//총 페이지 수.
					 socketDisconnect();
				});
				
				socket.on('Login', function(data){
					if(data){
						console.log("로그인 성공");
					}else{
						alert("아이디 혹은 비밀번호를 잘못 입력하셨습니다.");
					}
					socketDisconnect();
				});
			}
			
			function popup(html_info){ 
				if(!popup_shown){
					popup_shown = !popup_shown; resize();
				}
				socketConnect();
				socket.emit('Popup', html_info);
			}
			
			function popdown(){
				if(popup_shown){
					popup_shown = !popup_shown; resize();
				}
				$("#popup").html(' ');
			}
			
			function get_contents_html(dir) {
				socketConnect();
				socket.emit('Contents', {dir : dir});
			}
			
			var tab = '/contents/home.ejs';
			function change_contents(dir) {
				if (dir != tab) {
					get_contents_html(dir);
					tab = dir;
				}
			}
			
			function get_sidebar_html(dir) {
				socketConnect();
				socket.emit('Sidebar', {dir : dir});
			}
			
			function resize() {
				var container = document.getElementById('container');
				container.style.width = window.innerWidth - 200 + 'px';
				
				var popup = document.getElementById('popup');
				if(popup_shown){
					popup.style.width = window.innerWidth - 200 + 'px';
					popup.style.height = window.innerHeight + 'px';
				}else{
					popup.style.width = 0;
					popup.style.height = 0;
				}
			}
			
			window.onload = function() {
				resize();
				get_contents_html(tab);
				get_sidebar_html('/sidebar/login.ejs');
				window.addEventListener('resize', resize);
			}
		</script>
	</head>
	<body>
		<div id = "container">
			<header>
				<img src = "/image/tripmaster logo.png"></img>
			</header>
			<nav>
				<ul>
					<li><a href = "javascript:change_contents('/contents/home.ejs')"><b>Home</b></a></li>
					<li><a href = "javascript:change_contents('/contents/spotsearch_header.ejs')"><b>Spot Search</b></a></li>
					<li><a href = "javascript:change_contents('/contents/community_header.ejs')"><b>Community</b></a></li>
					<li><a href = "javascript:change_contents('/contents/letstrip.ejs')"><b>Lets Trip</b></a></li>
				</ul>
			</nav>
			<section id = "contents">
				<!-- 이 내부에 html 이 들어온다. -->
			</section>
			<footer>
			</footer>
		</div>
		<div id = "popup">
			<!-- 이 내부에 팝업 html 이 들어온다. 항상 div 태그가 맨 위에 있어야한다. -->
		</div>
		<aside id = "userbar">
			<!-- 이 내부에 html 이 들어온다. -->
		</aside>
	</body>
</html>
