<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script src = "/socket.io/socket.io.js"></script>
	<script src = "/js/jquery-2.1.4.min.js"></script>
	<script language = "javascript">
		var socket = io();
		
		function send(){
			socket.emit('message');
			return false;
		}
	</script>
  </head>
  <body>
		<a href = "javascript:send()">ok?</a>
  </body>
</html>
