<!DOCTYPE html>
<html>
	<head>
		<title>right</title>
		<script type="text/javascript" src="/js/resize.js"></script>
		<script language="javascript">
			var fd = 2; // right
		</script>
	</head>
	<body bgcolor="yellow">
		<div id="show_div" style="display:none">
			<h2>Show Right!</h2>
		</div>
		<div id="hidden_div">
			<a href="javascript:FrameResize()"><img src="/image/iu.jpg" width="25" height="33"/></a>
		</div>
	</body>
</html>
