<div class = 'storage_object'>
	<a href = 'javascript:storage_object_click(0)'>
		<div class = 'storage_object_color' style = 'background-color : rgb(70,212,110)'>
		</div>
		<div class = 'storage_object_contents'>
			<p class = 'storage_object_title'>인생꿀잼!!예스잼!!</p>
		</div>
		<a class = 'storage_object_delete' href = 'javascript:storage_object_delete(0)'><img src = 'subtract1.png'></img></a>
	</a>
</div>