<!-- slide2 연계는 아직.. 어서 해야한다ㅂㄷㅂㄷ.. -->
<div class="spotsearch-content-spot">
	<a href="#">
		<div class="spotsearch-inner">
			<img src="/image/1.jpg"/>
			<div class="spotsearch-spot-name"><%=spot_name%><br><br></div>
			<div class="spotsearch-spot-description"><%=spot_description%></div>
		</div>
	</a>
</div>