<img src="<%=image_path%>" height="30px" width="30px" style="margin:5px 0px 0px 5px;"/>
<a href="javascript:OpenProfile()" style="color:#FFF;"><%=user_id%></a>
<a href="javascript:logout()" style="color:#FFF;">logout</a>