<!--p align="left" style="color:#FFF;">Welcome, <a href="#"><%=user_id%></a>!</p-->
<p align="left" style="color:#FFF;">Welcome, <%=user_id%>!</p>
<p align="right"><a href="javascript:logout()" style="color:#FFF; text-decoration:none;">logout</a></p>